* {box-sizing: border-box;}
.gradient-border {
  width: 900px;
  display: flex;
  justify-content: center;


}

.container{
  display: flex;
  justify-content: center;
  padding-top: 50px;

}
.gradient-border img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50px;
}
