* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.gradient-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: 0.5;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: 0.3s;
}

.gradient-button:hover {
  border: 2px solid #104f55;
  background-color: rgba(365, 365, 365, 0.5);
  cursor: pointer;
  color: #104f55;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
